---
"tauri-build": patch:enhance
"tauri-utils": patch:enhance
---

Fallback to an empty permission set if the plugin did not define its `default` permissions.
