# Current WG Code Sub Teams:
# @tauri-apps/admins
# @tauri-apps/bundler
# @tauri-apps/core
# @tauri-apps/js-cli
# @tauri-apps/testing

# admins default to review
# Order is important; the last matching pattern takes the most precedence.
* @tauri-apps/admins 

.github @tauri-apps/admins @tauri-apps/testing

/examples/ @tauri-apps/testing

/tooling/api/ @tauri-apps/core

/tooling/bundler/ @tauri-apps/bundler

/tooling/cli.rs/ @tauri-apps/core

/tooling/cli.js/ @tauri-apps/js-cli

/core/** @tauri-apps/core
