# Current WG Code Sub Teams:
# @tauri-apps/wg-tauri
# @tauri-apps/wg-devops

# Order is important; the last matching pattern takes the most precedence.
* @tauri-apps/wg-tauri

.github @tauri-apps/wg-devops
