/.github
/.husky
/.vscode
/audits
node_modules
target
dist
/core/tauri/scripts/bundle.global.js
/core/tauri/scripts/stringify-ipc-message-fn.js
/tooling/cli/templates
/tooling/cli/node
/tooling/cli/schema.json
/core/config-schema/schema.json
