[package]
name = "tauri-runtime-wry"
version = "0.1.0"
authors = [ "Tauri Programme within The Commons Conservancy" ]
categories = [ "gui", "web-programming" ]
license = "Apache-2.0 OR MIT"
homepage = "https://tauri.studio"
repository = "https://github.com/tauri-apps/tauri"
description = "Wry bindings to the Tauri runtime"
edition = "2018"
exclude = [ ".license_template", "CHANGELOG.md", "/target" ]
readme = "README.md"

[dependencies]
wry = { version = "0.9.2", default-features = false, features = [ "file-drop", "protocol", "win32" ] }
tauri-runtime = { version = "0.1.0", path = "../tauri-runtime" }
tauri-utils = { version = "1.0.0-beta.0", path = "../tauri-utils" }
image = "0.23"
uuid = { version = "0.8.2", features = [ "v4" ] }

[features]
dox = [ "wry/dox" ]
menu = [ "wry/menu", "tauri-runtime/menu" ]
system-tray = [ "wry/tray", "tauri-runtime/system-tray" ]
