*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build
/buildSrc/src/main/{{package-path}}/kotlin/BuildTask.kt
/buildSrc/src/main/{{package-path}}/kotlin/RustPlugin.kt
/captures
.externalNativeBuild
.cxx
local.properties
