sudo: required
language: rust
cache: cargo

os:
  - linux
  - osx

rust:
  - stable
  - nightly

matrix:
  allow_failures:
    - rust: nightly

addons:
  apt:
    packages:
      - libwebkit2gtk-4.0-dev
    sources:
      - sourceline: 'ppa:webkit-team/ppa'
