* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html, #app {
	min-height: 100%;
}

body {
	padding: 2em;
	font-size: 4em;
	background-color: #e91e63;
	color: #ffffff;
}

button {
	font-size: 1em;
}
