<?if $(sys.BUILDARCH)="x86"?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?elseif $(sys.BUILDARCH)="x64"?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else?>
    <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
            Id="*"
            Name="{{{product_name}}}"
            UpgradeCode="{{{upgrade_code}}}"
            Language="1033"
            Codepage="1252"
            Manufacturer="{{{manufacturer}}}"
            Version="{{{version}}}">

        <Package Id="*"
                 Keywords="Installer"
                 InstallerVersion="450"
                 Languages="1033"
                 Compressed="yes"
                 InstallScope="perMachine"
                 SummaryCodepage="1252"/>

        <MajorUpgrade
                Schedule="afterInstallInitialize"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
                <Directory Id="APPLICATIONFOLDER" Name="{{{product_name}}}">
                    <Component Id="Path" Guid="{{{path_component_guid}}}" Win64="$(var.Win64)" KeyPath="yes">
                        <Environment
                                Id="PATH"
                                Name="PATH"
                                Value="[Bin]"
                                Permanent="no"
                                Part="last"
                                Action="set"
                                System="yes"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
                Id="MainProgram"
                Title="Application"
                Description="Installs the executable."
                Level="1"
                ConfigurableDirectory="APPLICATIONFOLDER"
                AllowAdvertise="no"
                Display="expand"
                Absent="disallow">
            <ComponentGroupRef Id="AppFiles"/>
            <Feature
                    Id="Environment"
                    Title="PATH Environment Variable"
                    Description="Add the install location of the [ProductName] executable to the PATH system environment variable. This allows the [ProductName] executable to be called from any location."
                    Level="1"
                    Absent="allow">
                <ComponentRef Id="Path"/>
            </Feature>
        </Feature>

        <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize"/>

        <UI>
            <UIRef Id="WixUI_FeatureTree"/>
        </UI>

    </Product>
</Wix>