html,
body {
  margin: 0;
  background: transparent;
  font: 16px system-ui;
}

aside {
  margin: 24px;
  padding: 20px;
  width: 330px;
  background: #fffffff0;
  border-radius: 12px;
}

h1 {
  margin-top: 0;
  font-size: 24px;
}

input,
select,
button {
  font: inherit;
  margin: 8px 0;
  padding: 6px;
}

input {
  box-sizing: border-box;
  width: 100%;
}

output {
  display: block;
  min-height: 24px;
}

#drag {
  padding: 16px;
  background: #ccdfff;
  cursor: grab;
  user-select: none;
  touch-action: none;
}

#scroll {
  height: 80px;
  overflow: auto;
}
