name: Audit

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    paths:
      - "**/Cargo.lock"
      - "**/Cargo.toml"

jobs:
  audit-rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
